{% extends 'base.html' %}

{% block content %}
    <body>
    <h2>Загрузите файл с тестом:</h2>
    <form action="{{ url_for('upload_test') }}" method="post" enctype="multipart/form-data">
        <label for="criteria_name">Название критерия:</label>
        <input type="text" name="criteria_name" required><br><br>
        <input type="file" name="file" required><br><br>
        <button type="submit" class="btn btn-primary" id="submit-btn" disabled>Отправить</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    </body>
    <script>
    function enableSubmit() {
        const criteriaName = document.getElementsByName('criteria_name')[0].value;
        const file = document.getElementsByName('file')[0].value;
        if (criteriaName && file) {
            document.getElementById('submit-btn').removeAttribute('disabled');
        } else {
            document.getElementById('submit-btn').setAttribute('disabled', 'disabled');
        }
    }
    document.getElementsByName('criteria_name')[0].addEventListener('input', enableSubmit);
    document.getElementsByName('file')[0].addEventListener('change', enableSubmit);
</script>
{% endblock %}